body {
  background-color: PaleGreen;
  user-select: none;
  margin: 0;
}

.error {
  color: red;
}

/****************************************/

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

/****************************************/

h1 {
  color: DimGray;
}

.app-section {
  margin: 20px;
  margin-bottom: 0;
}

.app-device button {
  margin-top: 5px;
  margin-right: 5px;
}

/****************************************/

.app-presets {
  width: 600px;
}

.preset-container {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

/****************************************/

.control-group {
  background-color: DimGray;
  display: inline-block;
  padding: 15px;
  margin: 10px;
  margin-left: 0;
  margin-bottom: 0;
  border-style: solid;
  border-width: 5px;
  border-color: AliceBlue;
  color: AliceBlue;
}

.control-group-label {
  margin: 0 0 10px 0;
}

.control-group-contents svg.knob {
  display: inline;
}

.knob-label-container {
  padding: 0 5px;
  text-align: center;
}

.select-label-container {
  padding: 0 10px;
  justify-content: center;
}

/****************************************/

svg.knob {
  display: block;
}

.knob circle {
  fill: Gold;
}

.knob {
  stroke: DeepSkyBlue;
}

.knob .tick {
  stroke: AliceBlue;
}

/****************************************/
